{% extends 'layout/layout.twig' %}

{% block style %}
<link rel="stylesheet" href="/admin-ui/assets/plugins/jquery-steps/jquery.steps.css">
{% endblock style %}

{% block content %}
<section class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <i class="fa fa-linux fa-5x m-b-20"></i>
                    <h1 class="slogan">Installation</h1>
                    <p>Follow the Installation Wizard to setup your Cms.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BEGIN MAIN CONTENT -->
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Installation</strong> Wizard</h3>
            <p>Here is where you get Rockin & Rollin.  Follow the wizard and after completing installation you will be redirected to the Admin section!</p>
            <!-- BEGIN FORM WIZARD WITH VALIDATION -->
            <form class="form-wizard" action="#" method="POST" enctype="multipart/form-data" data-title="Installation Wizard">
                
                <!-- Step 1 -->
                <h1>General Configuration</h1>
                <section>
                    <h2 class="hidden">&nbsp;</h2>
                    <p>(*) Mandatory</p>

                    <div class="form-group">
                      <div class="col-sm-7">
                        <label for="fqdn">Fully Qualified Domain Name *</label>
                        <input type="text" class="form-control required" id="fqdn" name="fqdn" placeholder="FQDN">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-7">
                          <label for="fqdn_api">API Fully Qualified Domain Name</label>
                          <input type="text" class="form-control " id="fqdn_api" name="fqdn_api" placeholder="API FQDN">
                      </div>
                    </div>
                </section>
                
                <!-- Step 2 -->
                <h1>Admin Access</h1>
                <section>
                    <h2 class="hidden">&nbsp;</h2>
                    <p>(*) Mandatory</p>
                    <div class="form-group">
                      <div class="col-sm-8">
                        <label for="email">Email *</label>
                        <input type="email" class="form-control required" id="email" name="email" placeholder="Access Email" data-serialize="1" />
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-8">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control required" id="password" name="password" placeholder="user password" data-serialize="1" />
                      </div>
                    </div>



                    <div class="form-group">
                      <div class="col-sm-8">
                        <label for="password_confirm">Password Confirm *</label>
                        <input type="password" class="form-control required" id="password_confirm" name="password_confirm" placeholder="user password confirm" data-serialize="1" />
                      </div>
                    </div>

                    
                </section>
                
                <!-- Step 3 -->
                <h1>Database Configuration</h1>
                <section>
                    <h2 class="hidden">&nbsp;</h2>
                    <p>(*) Mandatory</p>

                    <div class="form-group">
                        <div class="col-sm-8">
                          <label for="dbname">Database name *</label>
                          <input type="text" class="form-control required" id="dbname" name="dbname" placeholder="DB Name" data-serialize="1" />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-8">
                              <label for="dbtype">Database type *</label>
                              <select class="form-control required" id="dbtype" name="dbtype">
                                  <option value="sqlite" selected="selected">Default (Sqlite3)</option>
                                  <option value="couchdb">CouchDB</option>
                                  <option value="mongodb">MongoDB</option>
                                </select>  
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-8">
                          <label for="db_password">Database password *</label>
                          <input type="password" class="form-control required" id="db_password" name="db_password" placeholder="db password" data-serialize="1" />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-8">
                        <label for="db_password_confirm">Database password confirm *</label>
                          <input type="password" class="form-control required" id="db_password_confirm" name="db_password_confirm" placeholder="db password confirm" data-serialize="1" />
                        </div>
                      </div>

                </section>
                
                <h1>Finish</h1>
                <section>
                    <h2 class="hidden">&nbsp;</h2>
                    <span>Terms and Conditions</span>
                    <div class="pos-rel p-l-30">
                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="pos-rel p-l-30 required">
                        <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                    </div>
                </section>
            </form>
            <!-- END FORM WIZARD WITH VALIDATION -->
        </div>
        <section>
          
        </section>
    </div>
</div>        
<!-- END MAIN CONTENT -->

{% endblock content %}

{% block script %}
<script type="text/javascript" src="/admin-ui/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/admin-ui/assets/plugins/jquery-validation/additional-methods.min.js"></script>

<script src="/admin-ui/assets/plugins/jquery-steps/jquery.steps.js"></script>
<script src="/custom/installation-wizard.js"></script>
{% endblock script %}
