<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Cms Installation</title>


    <link href='/components/bootstrap/dist/css/bootstrap.min.css' media="screen" rel="stylesheet" type="text/css">
    <link href='/components/bootstrap-application-wizard/src/bootstrap-wizard.css' media="screen" rel="stylesheet" type="text/css">
    {% block style %}{% endblock style %}

    <script type="text/javascript" src='/components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
    {# // <script type="text/javascript" src='/components/bootstrap-application-wizard/src/bootstrap-wizard.min.js'></script> #}
    {% block script %}{% endblock script %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><button id="open-wizard" class="btn btn-primary">
              Open Installation Wizard
           </button>
        </p>
      </div>
    </div>



    <div class="container">
      <!-- Example row of columns -->
      {% block content %}{{ content|raw }}{% endblock content %}
      

      
            
        

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> 
    

    {% block inline %}{% endblock inline %}
  </body>
</html>

